

body {
  background-color: white;
}

#wrapper_hide {
    display: flex;
    position: relative;
    left: -240px;
    transition: left 0.5s ease-out;
}

#wrapper_show {
    display: flex;
    position: relative;
    left: 0;
    transition: left 0.5s ease-out;
}

#container {
    background-color: #f4f4f4;
    position: relative;
    left: 240px;
    padding-top: 100px;
}

#container_dim {
    background-color: #152D65;
    opacity: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vw;
    transition: opacity 0.5s ease-out;
}

/* SIZING */

.width_container {
    width: 80%;
    margin: auto;
}

.quarter_wide {
    width: calc(25% - 16px);
}

.quarter_wide_topic {
  width: calc(25% - 16px);
  color: white;
  height: 37px;
  padding: 10px;
  margin-top: 5px;
  background-color: #152D65;
}

.half_wide {
    width: calc(50% - 8px);
}

.threequarter_wide {
    width: 75%;
}

.threequarter_wide_topic {
  width: 75%;
  background-color: #152D65;
  color: white;
}



/* HEADER */

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

h1 {
    color: white;
    padding: 5px;
    margin: 5px 0;

}

#titlebar {
    background-color: #152D65;
    display: flex;
    padding: 10px 5px 5px 50px;
    height: 100px;
}

#titlebar p {
  font-size: 20px;
  color: white;
  margin-top: 59px;
  margin-left: 5px;
}


#logo {
    height: 80px;
    width: auto;
    margin-left: 5px;
}


/* MENU */

nav {
    width: 240px;
    height: 100vw;
    background-color: white;
    position: fixed;
    z-index: 2;
    top: 0vw;
    display: block;
    box-shadow: 0px 0px 100px #152D65;
    border-right: 2px solid grey;
}

#menu_tab_in {
    position: fixed;
    z-index: 3;
    top: calc(0vw + 25px);
    margin-left: 215px;
    padding-top: 16px;
    background-color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    transform: rotate(-90deg);
    display: block;
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
}

#menu_tab_in a {
  color: #152D65;
}

#menu_tab_out {
    position: fixed;
    z-index: 3;
    top: calc(0vw + 25px);
    margin-left: 213px;
    padding-top: 16px;
    background-color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    transform: rotate(-90deg);
    display: none;
    border-bottom: 2px solid grey;
    border-left: 2px solid grey;
}

#menu_tab_out a {
  color: #152D65;
  padding: 25px;
}

nav ul {
    border: 2px dashed orange;
}

nav li {
  color: #152D65;
}

nav a {
  color: #152D65;
}



/* AGENDA */

.width_container h1 {
  background-color: #152D65;
  margin-bottom: 10px;
}

#agenda {
    height: 180px;
}

#agenda a {
    display: block;
    background-color: #152D65;
    color: white;
    height: 25px;
    padding: 5px;
}

#agenda ul {
  padding: 5px;
}

#topic_nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#topic_nav li {
    height: 120px;
    text-align: center;
}

.topic_summary {
  border: 2px solid black;
  height: 100px;
}

/* SECTIONS */

section {
    background-color: white;
    border-top: 2px dashed grey;
    border-bottom: 2px dashed grey;
    width: 100%;
    margin: 0 0 32px 0;
}

section[id^="topic"] > div > div:first-of-type {
    display: flex;
    justify-content: space-between;
}

section[id^="topic"] h4 {
    text-align: right;
}

.lesson {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 5px;
}

.ex_and_res ul {
    list-style: disc;
    list-style-position: inside
}

.threequarter_wide h2 {
  background-color: #152D65;
}

/* HOMEWORK */

#hw_details {
    background-color: #f4f4f4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 5px;
    margin-bottom: 5px;
}

#hw_details > li:nth-of-type(2) {
    text-align: right;
}

#hw_criteria {
    list-style: disc;
    list-style-position: inside;
}

.width_container h2 {
  background-color: #152D65;
  color: white;
  padding: 5px;
  margin: 5px 0 5px 0;
}

.width_container h3 {
  background-color: #f4f4f4;
  padding: 5px;
}

.width_container p {
  background-color: #f4f4f4;
  padding: 5px;
}

.homework_section h3 {
  margin-top: 45px;
}

/*Course Outline CSS */

#outline_nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 10px;
}

#outline_nav li {
}

.outline_summary {
  border: 2px solid black;
  font-size: 20px;
  height: 200px;
  padding-left: 25px;
  padding-top: 5px;
}

.outline_list {
  list-style-type: disc;
  padding-left: 20px;
  background-color: #f4f4f4;
}

/* Course Overview Page */

#overview {
    margin-top: 30px;
    height: 280px;
}

#outline_overview {
  height: 385px;
}

.fixed {
	position: fixed;
    top: 70px;
	z-index: 1;
}

#course_overview {
  height: 350px;
  padding-bottom: 5px;
}

#course_overview ul {
  background-color:
}

#weekly_content {
  background-color: #f4f4f4;
}

#weekly_content a {
  display: block;
  background-color: #152D65;
  color: white;
  height: 25px;
  padding: 5px;
  margin-top: 10px;
}
