* {

    padding: 2px;
    margin: 4px 0;
}

#container {
    background-color: #f4f4f4;
    margin: 0 auto;
}

body {
  background-color: #f4f4f4;
}

/* SIZING */

.width_container {
    width: 80%;
    margin: auto;
}

.quarter_wide {
    width: calc(25% - 16px);
}

.quarter_wide_topic {
  width: calc(25% - 16px);
  color: white;
  padding: 5px;
  background-color: #152D65;
}

.half_wide {
    width: calc(50% - 8px);
}

.threequarter_wide {
    width: 75%;
}

.threequarter_wide_topic {
  width: 75%;
  background-color: #152D65;
  color: white;
  padding: 5px;
}



/* HEADER */

header {
    margin-bottom: 32px;
}

h1 {
    color: white;
    padding: 5px;
}

#titlebar {
    background-color: #152D65;
    display: flex;
}

#titlebar p {
  font-size: 20px;
  color: white;
  margin-top: 59px;
  margin-left: 5px;
}

.p_two {
  float: right;
}

#logo {
    height: 80px;
    width: auto;
    margin-left: 5px;
}

nav {

}

nav ul {
    border: 2px dashed orange;
    display: flex;
    flex-flow: row wrap;
}

nav li {

}

nav a {

}



/* AGENDA */

.width_container h1 {
  background-color: #152D65;
}

#agenda {
    background-color: #f4f4f4;
}

#agenda a {
    display: block;
    background-color: #152D65;
    color: white;
    height: 25px;
    padding: 5px;
}

#topic_nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#topic_nav li {
    height: 120px;
    text-align: center;
}

.topic_summary {
  border: 2px solid black;
  height: 100px;
  margin-top: -5px;
}

/* SECTIONS */

section {
    background-color: white;
    border: 2px dashed grey;
    margin-bottom: 32px;
}

section[id^="topic"] > div > div:first-of-type {
    display: flex;
    justify-content: space-between;
}

section[id^="topic"] h4 {
    text-align: right;
}

.lesson {
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
}

.ex_and_res ul {
    list-style: disc;
    list-style-position: inside
}

.threequarter_wide h2 {
  background-color: #152D65;
}

/* HOMEWORK */

#hw_details {
    background-color: #f4f4f4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#hw_details > li:nth-of-type(2) {
    text-align: right;
}

#hw_criteria {
    list-style: disc;
    list-style-position: inside;
}

.width_container h2 {
  background-color: #152D65;
  color: white;
  padding: 5px;
  margin: 5px 0 5px 0;
}

.homework_section h3 {
  margin-top: 85px;
}

/*Course Outline CSS */

#outline_nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

#outline_nav li {
    height: 220px;
    text-align: center;
}

.outline_summary {
  border: 2px solid black;
  height: 200px;
  margin-top: -5px;
}

.outline_list {
  list-style-type: disc;
  margin-left: 20px;
}
